@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>logout</h1>
<div style="background-color:tomato; color:skyblue;border 3px dotted red">
<div> u have logged out of website...to login pls click here</div>
<a asp-action="Login">Login</a>
</div>






